
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100%;
  position: relative;

}

.quadrato{
  width: 20%;
  height: 400px;
  display: inline-block;
  position: relative;
}


/* FOTO */

.foto, .hover{
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*SCONTI  */

.sconto_30, .sconto_5{
  border: 1px solid black;
  width: 60px;
  height: 30px;
  z-index: 1;
  position: absolute;
  background-color: rgb(71, 208, 138);
  text-align: center;
  line-height: 30px;
  right: 0;
  top: 0;
}

.sconto_5{
  background-color: rgb(242, 65, 65);
}
/* CUORE HOVER  */

.cuore{
  width: 50px;
  height: 25px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: calc(( 100% / 2) - 25px);
  display: none;

}

.quadrato:hover .cuore{
  display: block;
}
